body {
  /* your styles here */
  font-family: fantasy;
  color: maroon;
  border: 2px dashed blue
}

h1,
#designed-by {
  /* your styles here */
  text-align: center;
}

.style1 {
  background-color: rgb(6, 4, 6);
}

.style2 {
  background-color: rgb(96, 157, 5);
}

.style3 {
  background-color: #0000de;
}

.style4 {
  background-color: #d98d00;
}

.style5 {
  background-color: #b90000;
}

.style6 {
  background-color: #008545;
}

/* SETTING THE COLOR OF THE BOX TEXT */
.tiles .box-wrapper>a {
  color: white;
}